
#triangle_bg {
    background-color: #FBBCED;
}

#rhombus_bg {
    background-color: #69C7F0;
}

#navbar_bg {
    background-color: #E0FFFF;
}

#calculate_btn {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#calculate_btn1 {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#calculate_btn2 {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#calculate_btn3 {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#calculate_btn4 {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#calculate_btn5 {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#calculate_btn6 {
    background-color: #1090D8;
    margin-bottom: 10px;
}

#Blog_bg {
    background-color: #1090D8;
}

.card-img-top {
    margin-left: 80px;
    margin-top: 20px;
}

.img {
    height: 25vh;
}

#tri_btn {
    background-color: #1090D8;
    font-weight: 300;
    /* //font-size: small; */
}
